
input{
    display:inline;
    margin-left: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(234, 194, 194);
}
.form{
    text-align: center;
    margin-left: 30%;
    margin-top: 10%;
    border: 2px solid black;
    height: 500px;
    width: 600px;
}
.abc{
    margin-top: 80px;
}
h1{
    text-align: center;
}
.hex{
    border-radius: 5px;
    width: 100px;
    height: 30px;
}
.box{
    margin-left: 30px;
    padding: 20px;
}
.hex:hover{
    background-color: blue;
}